<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="MainNavParent">
        <div class="TitleDiv">
            <h2>Recipe Valut</h2>
            <p>Digital Kitchen</p>
        </div>
        <div class="NavDiv">
            <ul class="NavbarContainingItems">
                <li><a href="/RecipeListings">Dashboard</a></li>
                <li><a href="">All Recipe</a></li>
                <li><a href="">Add Recipe</a></li>
                <li><a href="">Categories</a></li>
                <li><a href="">Favorite</a></li>
                <li><a href="">Settings</a></li>
            </ul>
        </div>
    </div>
</body>
</html>